<xf:title>{{ phrase('hampel_archivesite_archived_users') }}</xf:title>

<div class="blockMessage">{{ phrase('hampel_archivesite_archived_users_explain') }}</div>

<xf:if is="$users is not empty">
	<div class="block-container">
		<h2 class="block-header">{{ phrase('hampel_archivesite_fully_archived_users') }}</h2>
		<div class="block-body">
			<xf:datalist>
				<xf:foreach loop="$users" value="$user">
					<xf:datarow>
						<xf:cell class="dataList-cell--min dataList-cell--image dataList-cell--imageSmall"
								 href="{{ link('users/edit', $user) }}">
							<xf:avatar user="$user" size="s" href="" />
						</xf:cell>
						<xf:main href="{{ link('users/edit', $user) }}">
							<xf:label><xf:username user="$user" rich="true" notooltip="true" href="" /></xf:label>
							<xf:hint>{$user.email}</xf:hint>
						</xf:main>
						<xf:delete href="{{ link('users/delete', $user) }}" />

					</xf:datarow>
				</xf:foreach>
			</xf:datalist>
		</div>
		<div class="block-footer block-footer--split">
			<span class="block-footer-counter">{{ display_totals($users, $total) }}</span>
		</div>
	</div>
	
	<xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}"
				link="archive/archived-users"
				wrapperclass="js-filterHide block-outer block-outer--after" />		
<xf:else />
	<div class="blockMessage">{{ phrase('hampel_archivesite_no_users') }}</div>
</xf:if>