<xf:css src="hampel_archivesite_archive_users.less" />

<xf:title>{{ phrase('hampel_archivesite_archive_users') }}</xf:title>

<xf:if is="$success">
	<div class="blockMessage blockMessage--success blockMessage--iconic">{{ phrase('hampel_archivesite_archive_was_completed_successfully') }}</div>
</xf:if>

<xf:if is="$active == 0 && $partiallyArchived == 0">
	<div class="blockMessage blockMessage--success blockMessage--iconic">{{ phrase('hampel_archivesite_all_active_users_archived') }}</div>	
<xf:else />
	<xf:if is="$active > 0">
		<div class="blockMessage blockMessage--warning blockMessage--iconic">{{ phrase('hampel_archivesite_active_users_found', {'link': link('archive/archive-users')}) }}</div>
	</xf:if>
	
	<xf:if is="$partiallyArchived > 0">
		<div class="blockMessage blockMessage--warning blockMessage--iconic">{{ phrase('hampel_archivesite_partially_archived_users_found', {'link': link('archive/archive-users')}) }}</div>	
	</xf:if>

	<div class="blockMessage blockMessage--warning blockMessage--iconic">{{ phrase('hampel_archivesite_archive_warning') }}</div>		
</xf:if>	

	
<div class="block-container">
	<h2 class="block-header">{{ phrase('hampel_archivesite_archive_users') }}</h2>	
	<xf:formrow label="{{ phrase('hampel_archivesite_protected_users') }}">
		{$protected|number}
		<span role="presentation" aria-hidden="true">&middot;</span>
		<a href="{{ link('archive/protected-users') }}">{{ phrase('hampel_archivesite_view_protected_users') }}</a>
	</xf:formrow>

	<xf:formrow label="{{ phrase('hampel_archivesite_active_users') }}">
		{$active|number}
		<span role="presentation" aria-hidden="true">&middot;</span>
		<a href="{{ link('archive/active-users') }}">{{ phrase('hampel_archivesite_view_active_users') }}</a>
	</xf:formrow>

	<xf:if is="$partiallyArchived > 0">
		<xf:formrow label="{{ phrase('hampel_archivesite_partially_archived_users') }}">
			{$partiallyArchived|number}
			<span role="presentation" aria-hidden="true">&middot;</span>
			<a href="{{ link('archive/partially-archived-users') }}">{{ phrase('hampel_archivesite_view_partially_archived_users') }}</a>
		</xf:formrow>		
	</xf:if>
	
	<xf:formrow label="{{ phrase('hampel_archivesite_archived_users') }}">
		{$archived|number}
		<span role="presentation" aria-hidden="true">&middot;</span>
		<a href="{{ link('archive/archived-users') }}">{{ phrase('hampel_archivesite_view_archived_users') }}</a>
	</xf:formrow>		
</div>

<hr class="formRowSep" />

<xf:form action="{{ link('archive/archive-users/action') }}" class="block">		
	<div class="block-container">
		<div class="block-body">
			<xf:checkboxrow explain="{{ phrase('hampel_archivesite_protected_users_will_not_be_archived') }}">
				<xf:if is="$partiallyArchived > 0">
					<xf:option name="actions[archive]">
						{{ phrase('hampel_archivesite_confirm_x_users_and_y_partial_users_archived', {'active': $active|number, 'partial': $partiallyArchived|number}) }}
					</xf:option>
				<xf:else />
					<xf:option name="actions[archive]">
						{{ phrase('hampel_archivesite_confirm_x_users_archived', {'total': $active|number}) }}
					</xf:option>
				</xf:if>
			</xf:checkboxrow>
		</div>
		<xf:submitrow name="confirm_archive" icon="archive" submit="{{ phrase('hampel_archivesite_archive')}}" />
	</div>
</xf:form>